Repository habitat-sh/builder, pull requests merged in 2018-03, with the labels that each got.

#261 pin docker deps for now to unblock prod
  components/builder-worker/habitat/plan.sh
Labels: A-builder, C-bug, E-easy, I-linux, L-shell

#263 Refactor metrics infrastructure
  Cargo.lock
  components/builder-api/src/github.rs
  components/builder-api/src/lib.rs
  components/builder-api/src/metrics.rs
  components/builder-api/src/server/handlers.rs
  components/builder-core/src/metrics.rs
  components/builder-depot/src/lib.rs
  components/builder-depot/src/metrics.rs
  components/builder-depot/src/server.rs
  components/builder-http-gateway/src/http/middleware.rs
  components/builder-sessionsrv/src/server/handlers.rs
  components/builder-worker/src/lib.rs
  components/builder-worker/src/metrics.rs
  components/builder-worker/src/vcs.rs
  components/github-api-client/Cargo.toml
  components/github-api-client/src/client.rs
  components/github-api-client/src/lib.rs
  components/github-api-client/src/metrics.rs
Labels: A-builder, C-chore

#232 Elliott/add secret api
  Cargo.lock
  components/builder-depot/doc/api.raml
  components/builder-depot/src/server.rs
  components/builder-http-gateway/src/http/helpers.rs
  components/builder-originsrv/src/data_store.rs
  components/builder-originsrv/src/error.rs
  components/builder-originsrv/src/migrations/2018-03-05-224023_origin_secrets/down.sql
  components/builder-originsrv/src/migrations/2018-03-05-224023_origin_secrets/up.sql
  components/builder-originsrv/src/server/handlers.rs
  components/builder-originsrv/src/server/mod.rs
  components/builder-protocol/protocols/originsrv.proto
  components/builder-protocol/src/message/originsrv.rs
  components/builder-protocol/src/originsrv.rs
Labels: A-builder, C-feature, S-awaiting-review, T-breaking

#302 Add secrets integration to jobsrv/worker
  components/builder-depot/src/server.rs
  components/builder-jobsrv/src/server/worker_manager.rs
  components/builder-protocol/protocols/jobsrv.proto
  components/builder-protocol/protocols/originsrv.proto
  components/builder-protocol/src/message/jobsrv.rs
  components/builder-protocol/src/message/originsrv.rs
  components/builder-worker/src/runner/studio.rs
Labels: A-builder, C-feature, E-less-easy, L-rust, S-awaiting-review, V-bldr, V-devx

#305 Remove generated code from git
  .gitignore
  .travis.yml
  Cargo.lock
  components/builder-api/Cargo.toml
  components/builder-api/habitat/plan.sh
  components/builder-jobsrv/habitat/plan.sh
  components/builder-protocol/Cargo.toml
  components/builder-protocol/README.md
  components/builder-protocol/build.rs
  components/builder-protocol/protocols/jobsrv.proto
  components/builder-protocol/protocols/routesrv.proto
  components/builder-protocol/src/message/depotsrv.rs
  components/builder-protocol/src/message/jobsrv.rs
  components/builder-protocol/src/message/net.rs
  components/builder-protocol/src/message/originsrv.rs
  components/builder-protocol/src/message/routesrv.rs
  components/builder-protocol/src/message/sessionsrv.rs
  components/libbuild-protocols.rs
  support/ci/builder-dev-plan.sh
  support/ci/install_hab.sh
  support/ci/install_protobuf.sh
Labels: A-builder, C-chore, E-easy, S-awaiting-review, V-devx

#338 Remove docker pinnings and add sbin to worker path
  components/builder-worker/habitat/plan.sh
  components/builder-worker/src/runner/docker.rs
Labels: A-builder, C-bug, E-less-easy, I-linux, L-rust, V-bldr, V-devx

#343 Add correct protobuf dep to Habitat package for worker
  components/builder-worker/habitat/plan.sh
Labels: A-builder, C-bug, E-easy, I-linux, L-shell, V-bldr
