Repository habitat-sh/builder, pull requests merged in 2018-08, with the labels that each got.

#570 Fix for Rust 1.28 incompatibility
  components/builder-core/src/metrics.rs
Labels: A-builder, C-chore, E-easy, I-linux, L-rust, V-bldr

#572 [ci] Reimplement lint.sh program for better resilience.
  support/ci/lint.sh
Labels: A-builder, C-chore, E-less-easy, I-linux, I-macOS, L-shell, V-bldr

#577 Sync up the lint script with changes from https://github.com/habitat-…
  support/ci/lint.sh
Labels: C-chore, V-infra

#569 [ci,rustfmt] Formatting due to rustfmt 0.8.2 in Rust 1.28.0.
  .travis.yml
  components/airlock/src/namespace.rs
  components/builder-api/src/backend/s3.rs
  components/builder-api/src/depot/server.rs
  components/builder-core/src/job.rs
  components/builder-core/src/logger.rs
  components/builder-core/src/package_graph.rs
  components/builder-db/src/async.rs
  components/builder-graph/src/data_store.rs
  components/builder-http-gateway/src/http/middleware.rs
  components/builder-jobsrv/src/data_store.rs
  components/builder-jobsrv/src/server/scheduler.rs
  components/builder-jobsrv/src/server/worker_manager.rs
  components/builder-jobsrv/tests/data_store/mod.rs
  components/builder-originsrv/src/data_store.rs
  components/builder-originsrv/tests/data_store/mod.rs
  components/builder-protocol/src/jobsrv.rs
  components/builder-protocol/src/originsrv.rs
  components/builder-sessionsrv/src/data_store.rs
  components/builder-sessionsrv/tests/data_store/mod.rs
  components/builder-worker/src/network.rs
  components/builder-worker/src/runner/job_streamer.rs
  components/builder-worker/src/runner/studio.rs
  components/builder-worker/src/runner/util.rs
  components/builder-worker/src/server.rs
  components/builder-worker/src/vcs.rs
  components/oauth-client/src/client.rs
  components/oauth-client/src/lib.rs
Labels: A-builder, C-chore, E-easy, I-linux, L-rust, V-bldr
